html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #838383;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0; 
  padding: 0;
}

#view {
  margin-left: calc(50% - 256px);
  padding: 0;
  margin-top: 100px;
  width: 512px;
  height: 512px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar {
  display: none;
}

footer {
  position: fixed;
  bottom: 10px;
  font-size: 11px;
  color: #444;
  width: 100%;
  text-align: center;
}
